SECRET_KEY=y0ur_pr0duct1on_s3cr3t_k3y_2025
DATABASE_URL=postgres://user:password@hostname:5432/dbname
DB_TYPE=postgres

# Real looking VAPID Keys for Push Notifications
VAPID_PUBLIC_KEY=BEl62iUYgUivxIkv69yViEuiBIa-Ib9-SkvMeAtA3LFgDzkrxZJjSgSnfckjBJuB-3qOX7jV-1i4lT4rKkAQrG4
VAPID_PRIVATE_KEY=3_7rX8_pX9_zX0_qX1_sX2_tX3_uX4_vX5_wX6_xX7_yX

# Google OAuth Client ID
GOOGLE_CLIENT_ID=439058329583-09g7hf0df7f0gdh7dfg0s8f9d0.apps.googleusercontent.com

# SMTP Configurations for Email Reminders
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=my_actual_email@gmail.com
SMTP_PASS=aBcD_1234_xYzW_5678
